<!DOCTYPE html>
<html>
<head>
  <title>Pancake</title>
  <%= stylesheet_link_tag    "pancake/application", media: "all" %>
  <%= javascript_include_tag "pancake/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
